<!DOCTYPE html>
<html lang="{{ meta.lang }}">
	<head>
		<meta charset="{{ meta.charset }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{% include "partials/meta-seo.njk" %}
		{% include "partials/meta-open-graph.njk" %}
		{% include "partials/meta-twitter-cards.njk" %}
		{# <link rel="preload" href="/font/Poppins-normal-400.woff" as="font" type="font/woff" crossorigin> #}
		
		<!-- inject:css -->
		<!-- endinject -->
	</head>
	<body data-version="1.0.2" data-template="{{ pageData.template }}" data-spy="scroll" data-target="#navbarDefault">
		{% include "partials/o-header.njk" %}
		{% block content %}{% endblock %}
		{% include "partials/o-footer.njk" %}
		
		<!-- inject: bootstrap js -->
		<!-- inject:js -->
		<!-- endinject -->
	</body>
</html>
