<!DOCTYPE html>
<html lang="{{ SITE.meta.lang }}">
	{% set seo_things = [
		{
			seo_title: (seo.seo_title or title) | striptags | trim,
			seo_description: (seo.seo_description or excerpt) | striptags | trim,
			seo_robots: seo.robots,
			seo_canonical: seo.canonical
		}
	] %}
	<head>
		<meta charset="{{ SITE.meta.charset }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta content="ie=edge" http-equiv="X-UA-Compatible">
		{% include "_partials/meta-seo.njk" %}
		{% include "_partials/meta-open-graph.njk" %}
		{% include "_partials/meta-twitter-cards.njk" %}
		<link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>
		<!-- inject:css -->
		<!-- endinject -->

	</head>

	<body data-template="blog-detail">
		{% include "_partials/o-header.njk" %}

		<article class="o-main py-5">
			<div class="container">
				<h1 class="mb-3">{{ title }}</h1>

				{{ entity_status.date | date('D. MMMM YYYY') }}

				{% if excerpt %}
					<div class="lead mb-3">{{excerpt}}</div>
				{% endif %}
				{% if body %}
					<div class="content mb-5">{{ body | safe }}</div>
				{% endif %}

				<a href="/blog/">Back to the list</a>
			</div>
		</article>

		{% include "_partials/o-footer.njk" %}

		<!-- inject: bootstrap js -->
		<!-- inject:js -->
		<!-- endinject -->

	</body>

</html>
