<section class="c-blog" id="blog">
  <div class="container">
    <h2 class="c-blog__heading pl-sm-5 pl-md-2 offset-lg-4">
      <span>Blog</span> Články o tréninku</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
      {% for item in BLOG %}
        {# {% if toDate(item.entity_status.date) >= toDate()and item.entity_status.workflow_step === 'publish' %} #}
        {% if item.showOnHome === true and item.entity_status.workflow_step === 'publish' %}
          {% include "partials/c-blog__item.njk" %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
