<div class="container section pb-5" id="kontakt">
	<h2 class="pl-sm-5 ml-sm-5">
		<span>kontakt</span>
		Viktor Konečný</h2>
	<div class="row justify-content-between">
		<div class="col-lg-6 mb-5 mb-lg-3">
			<p class="contacts">
				<a href="mailto:training@viktorkonecny.com" target="_blank">
					<span class="ico-email"></span>
					<strong>training@viktorkonecny.com</strong>
				</a><br>
				<a href="tel:+420777335521" target="_blank">
					<span class="ico-phone"></span>
					<strong>+420 777 335 521</strong>
				</a><br>
				<a href="https://www.instagram.com/viktor.konecny.training/" target="_blank">
					<span class="ico-instagram"></span>
					<strong>viktor.konecny.training</strong>
				</a>
			</p>
			<form id="contactus" netlify>
				<div class="form-group">
					<label for="message">zpráva<span>*</span>
					</label>
					<textarea class="form-control form-control-textarea" id="message" name="message" placeholder="zpráva"></textarea>
					<span class="error" id="contactus_message_errorloc"></span>
				</div>
				<div class="form-group">
					<label for="name">jméno a příjmení<span>*</span>
					</label>
					<input class="form-control" id="name" name="name" type="text" required placeholder="jméno">
					<span class="error" id="contactus_name_errorloc"></span>
				</div>
				<div class="form-group">
					<label for="email">e-mail<span>*</span>
					</label>
					<input class="form-control" id="email" name="email" type="email" required placeholder="e-mail">
					<span class="error" id="contactus_email_errorloc"></span>
				</div>
				<div class="form-group">
					<label for="interest">Mám zájem o<span>*</span>
					</label>
					<select class="custom-select form-control" id="interest" name="interest" required>
						<option disabled="" selected="">Mám zájem o</option>
						<option value="silovy-trenink">Silový a kondiční trénink</option>
						<option value="online-plan">Individuální online plán</option>
						<option value="online-coaching">Online coaching</option>
					</select>
					<span class="error" id="contactus_interest_errorloc"></span>
				</div>
				<div class="text-center mt-4">
					<button class="btn btn-primary btn-lg w-100" name="send" type="submit">
						odeslat zprávu
						<span class="arrow ml-2"></span>
					</button>
				</div>
			</form>
		</div>
		<div class="col-lg-5">
			<p class="mb-4">Osobní tréninky probíhají v&nbsp;soukromém prostoru v&nbsp;areálu posilovny Bílý králík v&nbsp;Třebíči.</p>
			<img src="/assets/images/osobni-trenink-gym-trebic-1.jpg" alt="Soukromý prostor posilovny" class="mb-3">
			<img src="/assets/images/osobni-trenink-gym-trebic-2.jpg" alt="Soukromý prostor posilovny">
		</div>
	</div>
	<div class="embed-responsive embed-responsive-21by9 mt-6">
		<iframe class="embed-responsive-item map-contact" title="Mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10426.10950965635!2d15.845663118958003!3d49.209524719765525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470d417e908726c1%3A0x54eb702ee2cfcf4d!2zxZjDrXBvdnNrw6EgMTA0NCwgNjc0IDAxIFTFmWViw63EjQ!5e0!3m2!1scs!2scz!4v1642494783192!5m2!1scs!2scz"></iframe>
	</div>
</div>
