<hr>
<p class="copyright text-center">Copyright © 2021 Viktor Konečný | Tvorba webu
	<a href="http://www.babacek.cz" title="Pavel Babáček - grafik, tvorba webu, frontend designer a html kodér. Tvorba webových stránek Brno." target="_blank">Babacek.cz</a>
</p>

<!-- inject: bootstrap js -->
<!-- inject:js -->
<!-- endinject -->