<nav class="navbar navbar-expand-md navbar-dark fixed-top px-lg-5">
	<a class="navbar-brand order-first mr-auto mr-md-4 mr-lg-5" href="/">
		<img src="./assets/images/viktor-konecny-logo.svg" alt="Viktor Konečný - silový a kondiční trenér pro sportovce i běžné lidi, působící v Praze.">
	</a>
	<div class="collapse navbar-collapse mr-auto order-last order-md-2" id="navbarDefault">
		<ul class="navbar-nav my-3 my-md-0">
			<li class="nav-item">
				<a class="nav-link" href="/#theme">úvod</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/#o-mne">o mně</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/#sluzby">služby</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/#individualni-online-plan">individuální plán</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/#kontakt">kontakt</a>
			</li>
		</ul>
	</div>
	<ul class="header-contacts nav order-md-last">
		<li class="nav-item active">
			<a class="nav-link link-phone" href="tel:+420777335521" target="_blank">Telefon</a>
		</li>
		<li class="nav-item">
			<a class="nav-link link-email" href="mailto:training@viktorkonecny.com" target="_blank">E-mail</a>
		</li>
		<li class="nav-item">
			<a class="nav-link link-instagram" href="https://www.instagram.com/viktor_konecny_training/" target="_blank">Instagram</a>
		</li>
	</ul>
    <button class="navbar-toggler ml-5" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Zobrazit hlavní navigaci">
		<span class="navbar-toggler-icon"></span>
	</button>
</nav>
