<div class="container section" id="o-mne">
	<div class="row justify-content-between">
		<div class="col-lg-6 col-md-7 col-sm-8">
			<h2 class="ml-minus-5 mt-4">
				<span>o mně</span>
				Kdo jsem?</h2>
			<p>Jsem silový a&nbsp;kondiční trenér, který se od svého dětství aktivně věnuje sportu. V&nbsp;pěti letech jsem začal hrát lední hokej, což mě postupně přivedlo k silovému tréninku. Právě v&nbsp;individuálně nastaveném silovém a&nbsp;kondičním tréninku vidím ohromný potenciál, ať už jste <strong>profesionální sportovec</strong>, jehož cílem je zlepšení výkonu, nebo se sportu profesionálně nevěnujete a&nbsp;chcete se jen dobře <strong>cítit a&nbsp;vypadat</strong>. Cíle a&nbsp;omezení každého člověka jsou natolik rozdílné, že je ve většině případů nutné zvolit individuální přístup a&nbsp;periodizaci tréninku. Proto začínám každou spolupráci úvodní <strong>diagnostikou</strong> a&nbsp;v&nbsp;případě sportovců i&nbsp;<strong>výkonnostními testy</strong>.</p>
			<p>Mimo trénování se aktivně věnuji profesní školitelské činnosti. Společně s&nbsp;kolegou Honzou Šebkem jsem zakladatelem <strong><a href="https://traininghub.cz/" target="_blank">TrainingHub</a></strong>. Pravidelně pořádáme vzdělávací <strong>semináře a&nbsp;workshopy pro trenéry</strong>, kde je naším cílem zvyšovat kvalitu a&nbsp;informovanost trenérské komunity. Stejně tak se zaměřuji na individuální <strong>konzultace</strong> a&nbsp;stáže pro trenéry.</p>
			<p>Informace a aktuální trendy čerpám především z&nbsp;tuzemských i&nbsp;zahraničních zdrojů a&nbsp;seminářů, kterých se pravidelně účastním. Moji práci nejvíce ovlivnili lidé jako Eric Cressey, Mike Boyle, Kevin Neeld, Alex Natera, Greg Nuckols, Christian Thibaudeau, Dean Somerset, Tony Gentilcore a&nbsp;další.</p>
		</div>
		<div class="col-md-5 col-sm-4 col-8 order-sm-first mt-4 mt-sm-0">
			<img src="/assets/images/viktor-konecny.jpg" alt="Viktor Konečný" class="w-100">
		</div>
	</div>
</div>
