<div class="container section" id="o-mne">
	<div class="row justify-content-between">
		<div class="col-lg-5 col-md-7 col-sm-8">
			<h2 class="ml-minus-5 mt-4 mt-lg-5">
				<span>o mně</span>
				Kdo jsem?</h2>
			<p>
				<strong>Zaměřuji se především na sportovce, ale mezi mé klienty patří i&nbsp;běžní lidé z&nbsp;kanceláří, u&nbsp;nichž se projevují bolesti zad a&nbsp;další zdravotní problémy způsobené sedavým zaměstnáním a&nbsp;špatnými pohybovými návyky.</strong>
			</p>
			<p>Od svého dětství se aktivně věnuji sportu. V&nbsp;5&nbsp;letech jsem začal hrát lední hokej, který mě přivedl k&nbsp;silovému tréninku. Postupně jsem tak začal objevovat jeho výhody nejenom u&nbsp;sportovců, ale i&nbsp;u&nbsp;běžné populace. Bohužel pod silovým tréninkem si většina lidí stále mylně představuje pouze zvedaní těžkého závaží. Hlavním cílem je ale především důraz na správnou techniku cvičení, individuální přístup a&nbsp;pozvolné zvyšování zátěže a&nbsp;náročnosti cviků. Právě silový trénink vnímám jako důležitý nástroj nejen pro zvýšení sportovního výkonu, ale i&nbsp;nepostradatelnou součást při prevenci zranění, odstranění bolesti a udržení celkového zdraví člověka.</p>
		</div>
		<div class="col-lg-6 col-md-5 col-sm-4 col-8 order-sm-first mt-4 mt-sm-0">
			<img src="./assets/images/viktor-konecny.jpg" alt="Viktor Konečný" class="w-100">
		</div>
	</div>
</div>
