<div class="container section" id="sluzby">
	<div class="row">
		<div class="col-lg-5 offset-md-3">
			<h2 class="mb-5">
				<span>služby</span>
				Co nabízím?</h2>
		</div>
	</div>
	<div class="row">
                <div class="col-lg-4 mb-5">
                    <h3 class="mb-3">Osobní trénink</h3>
                    <div class="blocks d-flex flex-column">
                        <div class="block block-light mb-auto">
                            <ul class="block-list">
                                <li>Individuální silový a&nbsp;kondiční trénink</li>
                                <li>Pohybová náprava a&nbsp;prevence zranění</li>
                                <li>Rehabilitace a silová příprava po zranění</li>
                                <li>Sportovní příprava mládeže</li>
                            </ul>
                        </div>
                        <div class="text-center pb-0">
                            <a class="btn btn-light btn-lg" href="#kontakt" role="button">Chci trénovat <span class="arrow ml-2"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5">
                    <h3 class="mb-3">Komplexní diagnostika</h3>
                    <div class="blocks d-flex flex-column">
                        <div class="block block-light mb-auto">
                            <ul class="block-list">
                                <li>Komplexní diagnostika pohybového aparátu</li>
                                <li>Zjištění možných pohybových omezení a&nbsp;svalových dysbalancí</li>
                                <li>Posouzení základních pohybových vzorů</li>  
                                <li>Sportovní výkonnostní testy</li>
                            </ul>
                        </div>
                        <div class="text-center pb-0">
                            <a class="btn btn-light btn-lg" href="#kontakt" role="button">Chci diagnostiku <span class="arrow ml-2"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5">
                    <h3 class="mb-3">Online coaching</h3>
                    <div class="blocks d-flex flex-column">
                        <div class="block block-light mb-auto">
                            <ul class="block-list">
                                <li>Každý měsíc nový tréninkový plán</li>
                                <li>Pravidelná kontrola výsledků a&nbsp;techniky cvičení</li>
                                <li>Vhodné pro profesionální, amatérské i hobby sportovce</li>
                            </ul>                                                             
                                                        
                        </div> 
                        <div class="text-center pb-0">
                            <a class="btn btn-light btn-lg" href="#kontakt" role="button">Chci coaching <span class="arrow ml-2"></span></a>
                        </div>                        
                    </div>
                </div>
            </div>
</div>
