<div id="theme" class="theme">
	<div class="theme-img">
		<img src="./assets/images/viktor-konecny-theme.jpg" alt="Viktor Konečný - Silový a kondiční trenér" class="w-100">
	</div>
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<div class="row align-items-end align-items-lg-center">
				<div class="col-xl-5 col-md-6">
					<h1 class="mb-4 mb-lg-5">
						<strong>Viktor Konečný</strong><br>Silový a kondiční trenér</h1>
					<p class="lead">„<em>Silový trénink vnímám jako důležitý nástroj nejen pro zvýšení sportovního výkonu, ale i&nbsp;nepostradatelnou součást prevence zranění a&nbsp;udržení celkového zdraví člověka.</em>“</p>
				</div>
			</div>
		</div>
	</div>
</div>
