<div class="container section" id="sluzby">
	<div class="row">
		<div class="col-lg-5 offset-md-3">
			<h2 class="mb-5">
				<span>služby</span>
				Co nabízím?</h2>
		</div>
	</div>
	<div class="row justify-content-around">
		<div class="col-xl-5 col-md-6 mb-6">
			<h3 class="mb-4">Osobní trénink</h3>
			<div class="blocks d-flex flex-column">
				<div class="block block-light text-center mb-auto">
					<ul class="d-inline-block text-left">
						<li>Individuální silový a&nbsp;kondiční trénink</li>
						<li>Pohybová náprava a&nbsp;prevence zranění</li>
						<li>Rehabilitace po zranění</li>
						<li>Sportovní příprava</li>
					</ul>
				</div>
				<div class="block block-dark text-center pb-0">
					<p class="price mb-4 mb-lg-5">
						<strong>600 Kč</strong><br>za hodinu</p>
					<a class="btn btn-light btn-lg" href="#kontakt" role="button">Chci trénovat
						<span class="arrow ml-2"></span>
					</a>
				</div>
			</div>
		</div>
		<div class="col-xl-5 col-md-6 mb-6">
			<h3 class="text-md-right mb-4">Individuální online plán</h3>
			<div class="blocks d-flex flex-column">
				<div class="block block-light text-center mb-auto">
					<ul class="d-inline-block text-left">
						<li>Každý měsíc nový individuální tréninkový plán</li>
						<li>Tréninkový deník pro záznam výsledků</li>
						<li>Pravidelná kontrola výsledků a techniky cvičení</li>
						<li>Vhodné pro profesionální, amatérské i hobby sportovce</li>
					</ul>
				</div>
				<div class="block block-dark text-center pb-0">
					<p class="price mb-4 mb-lg-5">
						<strong>1 800 Kč</strong><br>za měsíc</p>
					<a class="btn btn-light btn-lg" href="#kontakt" role="button">Chci plán
						<span class="arrow ml-2"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
