<!DOCTYPE html>
<html lang="{{ SITE.meta.lang }}">
  {% set seo_things = [
    {
      seo_title: (INDEX.seo.seo_title or INDEX.title) | striptags | trim,
      seo_description: (INDEX.seo.seo_description or INDEX.excerpt) | striptags | trim,
      robots: INDEX.seo.robots,
      canonical: INDEX.seo.canonical
    }
  ] %}
  <head>
    <meta charset="{{ SITE.meta.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    {% set open_graph = INDEX.open_graph %}

    {% include "_partials/meta-seo.njk" %}
    {% include "_partials/meta-open-graph.njk" %}
    {% include "_partials/meta-twitter-cards.njk" %}
    
    <!-- inject:css -->
    <!-- endinject -->
    {% set pageContetId = INDEX %}

    <body data-template="index" data-spy="scroll" data-target="#navbarDefault">
      {% include "_partials/o-header.njk" %}
      {% include "_partials/main.njk" %}
      {% include "_partials/o-footer.njk" %}
    </body>
  </html>
