body:before {
  position: fixed;
  z-index: 1002003004005007008009;
  top: 0;
  left: 0;
  padding: 10px 20px;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  font-weight: bold;
  background: #f0f;
}
@media (min-width: 1200px) {
  body:before {
    content: "XL";
  }
}
@media (max-width: 1199px) {
  body:before {
    content: "LG";
  }
}
@media (max-width: 991px) {
  body:before {
    content: "MD";
  }
}
@media (max-width: 767px) {
  body:before {
    content: "SM";
  }
}
@media (max-width: 575px) {
  body:before {
    content: "XS";
  }
}