<div class="container section pb-5" id="kontakt">
	<h2 class="pl-sm-5 ml-sm-5">
		<span>kontakt</span>
		Viktor Konečný</h2>
	<div class="row justify-content-between">
		<div class="col-lg-6">
			<p class="contacts">
				<a href="mailto:training@viktorkonecny.com" target="_blank">
					<span class="ico-email"></span>
					<strong>training@viktorkonecny.com</strong>
				</a><br>
				<a href="tel:+420777335521" target="_blank">
					<span class="ico-phone"></span>
					<strong>+420 777 335 521</strong>
				</a><br>
				<a href="https://www.instagram.com/viktor_konecny_training/" target="_blank">
					<span class="ico-instagram"></span>
					<strong>viktor_konecny_training</strong>
				</a>
			</p>
			<div class="d-none d-lg-block">
				<p>Osobní tréninky probíhají v Aréně Pavly Kladivové na Praze 1.<br>Více na
					<a href="https://www.arenapk.cz" target="_blank">www.arenapk.cz</a>.</p>
			</div>
		</div>
		<div class="col-lg-5">
			<form id="contactus" netlify>
				<div class="form-group">
					<label for="message">zpráva<span>*</span>
					</label>
					<textarea class="form-control" id="message" name="message" placeholder="zpráva"></textarea>
					<span class="error" id="contactus_message_errorloc"></span>
				</div>
				<div class="form-group">
					<label for="name">jméno a příjmení<span>*</span>
					</label>
					<input class="form-control" id="name" name="name" type="text" required placeholder="jméno">
					<span class="error" id="contactus_name_errorloc"></span>
				</div>
				<div class="form-group">
					<label for="email">e-mail<span>*</span>
					</label>
					<input class="form-control" id="email" name="email" type="email" required placeholder="e-mail">
					<span class="error" id="contactus_email_errorloc"></span>
				</div>
				<div class="form-group">
					<label for="interest">Mám zájem o<span>*</span>
					</label>
					<select class="custom-select form-control" id="interest" name="interest" required>
						<option value disabled selected>Mám zájem o</option>
						<option value="silovy-trenink">Silový a kondiční trénink</option>
						<option value="online-plan">Individuální online plán</option>
					</select>
					<span class="error" id="contactus_interest_errorloc"></span>
				</div>
				<div class="text-center mt-4">
					<button class="btn btn-primary btn-lg w-100" name="send" type="submit">
						odeslat zprávu
						<span class="arrow ml-2"></span>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
