<div class="container section" id="individualni-online-plan">
	<div class="row justify-content-end">
		<div class="col-lg-7">
			<h2 class="mb-5">
				<span>Individuální plán</span>
				Jak to funguje?</h2>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-xl-8 col-lg-9">
			<div class="accordion" id="accordionFaq">
				<div class="acc-item">
					<h3 id="headingOne" class="acc-heading mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						Proč zvolit individuální plán?
					</h3>
					<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionFaq">
						<div class="acc-body">
							<p>Individuální plán zpracuji každému, kdo chce posunout svůj výkon na další úroveň. Tato forma spolupráce je vhodná u&nbsp;osob, které se dostaly do fáze stagnace nebo nemají dostatečné zkušenosti v&nbsp;oblasti tvoření a&nbsp;vedení tréninkového plánu. Vhodným nastavením parametrů tréninku, jako jsou volba cviků, intenzita, objem nebo tempo lze velmi efektivně zvýšit sportovní výkon, snížit pravděpodobnost přetrénování a&nbsp;riziko zranění. Tréninkový plán není vhodný pro začátečníky nebo osoby s&nbsp;nedostatečnou technikou cvičení. Právě v&nbsp;těchto případech doporučuji využít osobní trénink, kde se klient učí správné technice cvičení.</p>
						</div>
					</div>
				</div>
				<div class="acc-item">
					<h3 id="headingTwo" class="acc-heading collapsed mb-0" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						Co je individuální plán?
					</h3>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionFaq">
						<div class="acc-body">
							<p>Individuální plán je online forma spolupráce mezi mnou a&nbsp;klientem. Každý měsíc obdržíte nový tréninkový plán a&nbsp;během celého období společně vyhodnocujeme dosažené výsledky a&nbsp;techniku cvičení. Tato forma vedení je vhodná pro osoby všech úrovní v&nbsp;situacích, kdy nelze nebo není nutné využít osobního tréninku. Každý plán vychází z&nbsp;předem stanovených cílů a&nbsp;respektuje zkušenosti a&nbsp;časové možnosti klienta. Při jeho sestavování je pro mě důležité znát veškeré informace ze sportovního i&nbsp;nesportovního života klienta. Pokud totiž nejsou všechny tyto faktory zohledněny v&nbsp;tréninkovém plánu, může dojít k&nbsp;přetrénování a&nbsp;zvýšení rizika zranění. Právě z&nbsp;toho důvodu je nutné absolvovat vstupní diagnostiku.</p>
						</div>
					</div>
				</div>
				<div class="acc-item">
					<h3 id="headingThree" class="acc-heading collapsed mb-0" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						Jak to funguje?
					</h3>
					<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionFaq">
						<div class="acc-body">
							<p>Na základě vyplněného a&nbsp;odeslaného dotazníku vás budu kontaktovat a&nbsp;domluvíme se společně na osobní vstupní diagnostice. Pomocí diagnostiky se zjišťují základní pohybové návyky, omezení, svalové dysbalance a&nbsp;stažení. Zároveň je jejím cílem získat informace i&nbsp;o&nbsp;druhu sportu, soutěžního období, možné frekvenci tréninků, vybavení tréninkového zařízeni apod. Všechny tyto okolnosti budou mít vliv na jeho celkové nastavení. Následně pro Vás každý měsíc vytvořím nový individuální plán přesně podle vašich potřeb a&nbsp;cílů. Společně pak budeme pracovat na kontrole výsledků a&nbsp;techniky cvičení minimálně jednou za týden. Vstupní diagnostika v&nbsp;hodnotě osobního tréninku není součástí ceny tréninkového plánu a&nbsp;je nutné ji uhradit zvlášť.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
