<main>
	<div id="theme" class="theme">
		<div class="theme-img">
			<img src="./images/viktor-konecny-theme.jpg" alt="Viktor Konečný - Silový a kondiční trenér" class="w-100">
		</div>
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<div class="row align-items-end align-items-lg-center">
					<div class="col-xl-5 col-md-6">
						<h1 class="mb-4 mb-lg-5">
							<strong>Viktor Konečný</strong><br>Silový a kondiční trenér</h1>
						<p class="lead">„<em>Silový trénink vnímám jako důležitý nástroj nejen pro zvýšení sportovního výkonu, ale i&nbsp;nepostradatelnou součást prevence zranění a&nbsp;udržení celkového zdraví člověka.</em>“</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<hr class="d-sm-none">

	<div class="container section" id="o-mne">
		<div class="row justify-content-between">
			<div class="col-lg-6 col-md-7 col-sm-8">
				<h2 class="ml-minus-5 mt-4 mt-lg-5">
					<span>o mně</span>
					Kdo jsem?</h2>
				<p>
					<strong>Zaměřuji se především na sportovce, ale mezi mé klienty patří i&nbsp;běžní lidé z&nbsp;kanceláří, u&nbsp;nichž se projevují bolesti zad a&nbsp;další zdravotní problémy způsobené sedavým zaměstnáním a&nbsp;špatnými pohybovými návyky.</strong>
				</p>
				<p>Od svého dětství se aktivně věnuji sportu. V&nbsp;5&nbsp;letech jsem začal hrát lední hokej, který mě přivedl k&nbsp;silovému tréninku. Postupně jsem tak začal objevovat jeho výhody nejenom u&nbsp;sportovců, ale i&nbsp;u&nbsp;běžné populace. Bohužel pod silovým tréninkem si většina lidí stále mylně představuje pouze zvedaní těžkého závaží. Hlavním cílem je ale především důraz na správnou techniku cvičení, individuální přístup a&nbsp;pozvolné zvyšování zátěže a&nbsp;náročnosti cviků. Právě silový trénink vnímám jako důležitý nástroj nejen pro zvýšení sportovního výkonu, ale i&nbsp;nepostradatelnou součást při prevenci zranění, odstranění bolesti a&nbsp;udržení celkového zdraví člověka.</p>
			</div>
			<div class="col-md-5 col-sm-4 col-8 order-sm-first mt-4 mt-sm-0">
				<img src="./images/viktor-konecny.jpg" alt="Viktor Konečný" class="w-100">
			</div>
		</div>
	</div>

	<hr>

	<div class="container section" id="sluzby">
		<div class="row">
			<div class="col-lg-5 offset-md-3">
				<h2 class="mb-5">
					<span>služby</span>
					Co nabízím?</h2>
			</div>
		</div>
		<div class="row justify-content-around">
			<div class="col-xl-5 col-md-6 mb-6">
				<h3 class="mb-4">Osobní trénink</h3>
				<div class="blocks d-flex flex-column">
					<div class="block block-light text-center mb-auto">
						<ul class="d-inline-block text-left">
							<li>Individuální silový a&nbsp;kondiční trénink</li>
							<li>Pohybová náprava a&nbsp;prevence zranění</li>
							<li>Rehabilitace po zranění</li>
							<li>Sportovní příprava</li>
						</ul>
					</div>
					<div class="block block-dark text-center pb-0">
						<p class="price mb-4 mb-lg-5">
							<strong>600 Kč</strong><br>za hodinu</p>
						<a class="btn btn-light btn-lg" href="#kontakt" role="button">Chci trénovat
							<span class="arrow ml-2"></span>
						</a>
					</div>
				</div>
			</div>
			<div class="col-xl-5 col-md-6 mb-6">
				<h3 class="text-md-right mb-4">Individuální online plán</h3>
				<div class="blocks d-flex flex-column">
					<div class="block block-light text-center mb-auto">
						<ul class="d-inline-block text-left">
							<li>Každý měsíc nový individuální tréninkový plán</li>
							<li>Tréninkový deník pro záznam výsledků</li>
							<li>Pravidelná kontrola výsledků a techniky cvičení</li>
							<li>Vhodné pro profesionální, amatérské i hobby sportovce</li>
						</ul>
					</div>
					<div class="block block-dark text-center pb-0">
						<p class="price mb-4 mb-lg-5">
							<strong>1 800 Kč</strong><br>za měsíc</p>
						<a class="btn btn-light btn-lg" href="#kontakt" role="button">Chci plán
							<span class="arrow ml-2"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<hr>

	<div class="container section" id="individualni-online-plan">
		<div class="row justify-content-end">
			<div class="col-lg-7">
				<h2 class="mb-5">
					<span>Individuální plán</span>
					Jak to funguje?</h2>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-xl-8 col-lg-9">
				<div class="accordion" id="accordionFaq">
					<div class="acc-item">
						<h3 id="headingOne" class="acc-heading mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							Proč zvolit individuální plán?
						</h3>
						<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionFaq">
							<div class="acc-body">
								<p>Individuální plán zpracuji každému, kdo chce posunout svůj výkon na další úroveň. Tato forma spolupráce je vhodná u&nbsp;osob, které se dostaly do fáze stagnace nebo nemají dostatečné zkušenosti v&nbsp;oblasti tvoření a&nbsp;vedení tréninkového plánu. Vhodným nastavením parametrů tréninku, jako jsou volba cviků, intenzita, objem nebo tempo lze velmi efektivně zvýšit sportovní výkon, snížit pravděpodobnost přetrénování a&nbsp;riziko zranění. Tréninkový plán není vhodný pro začátečníky nebo osoby s&nbsp;nedostatečnou technikou cvičení. Právě v&nbsp;těchto případech doporučuji využít osobní trénink, kde se klient učí správné technice cvičení.</p>
							</div>
						</div>
					</div>
					<div class="acc-item">
						<h3 id="headingTwo" class="acc-heading collapsed mb-0" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							Co je individuální plán?
						</h3>
						<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionFaq">
							<div class="acc-body">
								<p>Individuální plán je online forma spolupráce mezi mnou a&nbsp;klientem. Každý měsíc obdržíte nový tréninkový plán a&nbsp;během celého období společně vyhodnocujeme dosažené výsledky a&nbsp;techniku cvičení. Tato forma vedení je vhodná pro osoby všech úrovní v&nbsp;situacích, kdy nelze nebo není nutné využít osobního tréninku. Každý plán vychází z&nbsp;předem stanovených cílů a&nbsp;respektuje zkušenosti a&nbsp;časové možnosti klienta. Při jeho sestavování je pro mě důležité znát veškeré informace ze sportovního i&nbsp;nesportovního života klienta. Pokud totiž nejsou všechny tyto faktory zohledněny v&nbsp;tréninkovém plánu, může dojít k&nbsp;přetrénování a&nbsp;zvýšení rizika zranění. Právě z&nbsp;toho důvodu je nutné absolvovat vstupní diagnostiku.</p>
							</div>
						</div>
					</div>
					<div class="acc-item">
						<h3 id="headingThree" class="acc-heading collapsed mb-0" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							Jak to funguje?
						</h3>
						<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionFaq">
							<div class="acc-body">
								<p>Na základě vyplněného a&nbsp;odeslaného dotazníku vás budu kontaktovat a&nbsp;domluvíme se společně na osobní vstupní diagnostice. Pomocí diagnostiky se zjišťují základní pohybové návyky, omezení, svalové dysbalance a&nbsp;stažení. Zároveň je jejím cílem získat informace i&nbsp;o&nbsp;druhu sportu, soutěžního období, možné frekvenci tréninků, vybavení tréninkového zařízeni apod. Všechny tyto okolnosti budou mít vliv na jeho celkové nastavení. Následně pro Vás každý měsíc vytvořím nový individuální plán přesně podle vašich potřeb a&nbsp;cílů. Společně pak budeme pracovat na kontrole výsledků a&nbsp;techniky cvičení minimálně jednou za týden. Vstupní diagnostika v&nbsp;hodnotě osobního tréninku není součástí ceny tréninkového plánu a&nbsp;je nutné ji uhradit zvlášť.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<hr>

	<section class="c-blog py-3">
		<div class="container">
			{% for item in BLOG %}
				{% include "_partials/c-blog__item.njk" %}
			{% endfor %}
		</div>
	</section>

	<hr>

	<div class="container section pb-5" id="kontakt">
		<h2 class="pl-sm-5 ml-sm-5">
			<span>kontakt</span>
			Viktor Konečný</h2>
		<div class="row justify-content-between">
			<div class="col-lg-6">
				<p class="contacts">
					<a href="mailto:training@viktorkonecny.com" target="_blank">
						<span class="ico-email"></span>
						<strong>training@viktorkonecny.com</strong>
					</a><br>
					<a href="tel:+420777335521" target="_blank">
						<span class="ico-phone"></span>
						<strong>+420 777 335 521</strong>
					</a><br>
					<a href="https://www.instagram.com/viktor_konecny_training/" target="_blank">
						<span class="ico-instagram"></span>
						<strong>viktor_konecny_training</strong>
					</a>
				</p>
				<div class="d-none d-lg-block">
					<p>Osobní tréninky probíhají v Aréně Pavly Kladivové na Praze 1.<br>Více na
						<a href="https://www.arenapk.cz" target="_blank">www.arenapk.cz</a>.</p>
				</div>
			</div>
			<div class="col-lg-5">
				<form id="contactus" action="<?php echo $formproc->GetSelfScript().'#contactus'; ?>" method="post" accept-charset="UTF-8">
					<fieldsetProcessForm()) <?php if(isset($_POST['submitted'])) { if($formproc-> { echo 'style="display:none;"' ; } } ?>
						>

						<input type='hidden' name='submitted' id='submitted' value='1'>
						<input type='hidden' name='<?php echo $formproc->GetFormIDInputName(); ?>' value='<?php echo $formproc->GetFormIDInputValue(); ?>'>
						<input type='text' class='spmhidip' name='<?php echo $formproc->GetSpamTrapInputName(); ?>'>

						<div>
							<span class="error"><?php echo $formproc->GetErrorMessage(); ?></span>
						</div>
						<div class="form-group">
							<label for="message">zpráva<span>*</span>
							</label>
							<textarea name="message" id="message" placeholder="zpráva" class="form-control"></textarea>
							<span id="contactus_message_errorloc" class="error"></span>
						</div>
						<div class="form-group">
							<label for="name">jméno a příjmení<span>*</span>
							</label>
							<input type="text" name="name" id="name" placeholder="jméno" class="form-control">
							<span id="contactus_name_errorloc" class="error"></span>
						</div>
						<div class="form-group">
							<label for="email">e-mail<span>*</span>
							</label>
							<input type="text" name="email" id="email" placeholder="e-mail" class="form-control">
							<span id="contactus_email_errorloc" class="error"></span>
						</div>
						<div class="form-group">
							<label for="interest">Mám zájem o<span>*</span>
							</label>
							<select id="interest" name="interest" class="custom-select form-control">
								<option disabled selected value>Mám zájem o</option>
								<option value="silovy-trenink">Silový a kondiční trénink</option>
								<option value="online-plan">Individuální online plán</option>
							</select>
							<span id="contactus_interest_errorloc" class="error"></span>
						</div>
						<div class="row">
							<div class="col">
								<div class="form-group">
									<label for="scaptcha">Opište kód</label>
									<input type="text" name="scaptcha" id="scaptcha" maxlength="10" class="form-control" placeholder="opište kód">

								</div>
							</div>
							<div class="col">
								<div class="captcha-image">
									<img alt="Captcha image" src="show-captcha.php?rand=1" id="scaptcha_img" class="my-1">
								</div>
								<div class="short_explanation">nelze přečíst?
									<a href="javascript: refresh_captcha_img();">vyměnit obrázek</a>
								</div>
							</div>
							<span id="contactus_scaptcha_errorloc" class="error ml-4"></span>
						</div>
						<div class="text-center mt-4">
							<button type="submit" name="send" class="btn btn-primary btn-lg w-100">
								odeslat zprávu
								<span class="arrow ml-2"></button>
							</div>
						</fieldset>
						<?php
						if(isset($_POST['submitted']))
							{
								echo '<div class="success mb-4"><strong>Vaše zpráva byla úspěšně odeslána!<br>Ozvu se vám co nejdříve.</strong></div>';
							}
					?>
					</fieldsetProcessForm>
				</form>
			</div>
		</div>
		<div class="d-lg-none mt-5">
			<p>Osobní tréninky probíhají v Aréně Pavly Kladivové na Praze 5 a Praze 1.</p>
			<p>Více na
				<a href="https://www.arenapk.cz" target="_blank">www.arenapk.cz</a>.</p>
		</div>
		<div class="embed-responsive embed-responsive-21by9 mt-6">
			<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2560.2793506307944!2d14.421508216217001!3d50.081056479426096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470b94ed796dbc37%3A0x5f22bf62590ea3e5!2sARENA%20Pavly%20Kladivov%C3%A9%20Centrum!5e0!3m2!1scs!2scz!4v1582130213303!5m2!1scs!2scz"></iframe>
		</div>
	</div>
</main>
