@charset "utf-8";

@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/mixins';
@import './variables';

// Přetížení Bootatrapu
// --------------

// Set minimum reasonable width on very small devices
html {
  scroll-behavior: smooth;
}

body {
  // Set minimum reasonable width on very small devices
  min-width: 320px;
  font-family: Poppins, sans-serif;
  letter-spacing: 0.06rem;

  @include media-breakpoint-down(sm) {
    font-size: 0.85rem;
  }
}

// Remove viod in the bottom of the alert component
.alert {
  p:last-child,
  ol:last-child,
  ul:last-child {
    margin-bottom: 0;
  }
}

// Reset for SVG images in `<img src=""`
img:not([src$='.svg']) {
  max-width: 100%;
  height: auto;
}

b,
strong {
  font-weight: $font-weight-bolder;
}

ul li {
  list-style: none;
}

.navbar {
  padding-top: 2.5rem;
  font-weight: $font-weight-bolder;
  text-transform: uppercase;

  @include transition;

  @include media-breakpoint-down(md) {
    padding-top: 0.5rem;
  }

  img {
    height: 60px;

    @include transition;
  }

  &.smaller {
    padding-top: 0.5rem;
    background: darken($black, 10%);

    img {
      height: 40px;
    }
  }

  .nav-item {
    margin-right: 50px;

    @include media-breakpoint-only(lg) {
      margin-right: 30px;
    }

    @include media-breakpoint-down(md) {
      margin-right: 10px;
      font-size: 0.9rem;
    }
  }
}

.navbar-toggler-icon {
  background: url(../images/navbar-toggler.svg) 50% 50% no-repeat !important;
}

h2 {
  font-weight: $font-weight-bold;
  color: $primary;
  letter-spacing: 0.02rem;

  @include media-breakpoint-down(sm) {
    font-size: 2rem;
  }

  span {
    display: block;
    margin-bottom: 0.3rem;
    font-weight: $font-weight-bolder;
    font-size: 1rem;
    text-transform: uppercase;
    color: $white;
    letter-spacing: 0.3rem;

    &::before {
      content: '';
      display: inline-block;
      width: 75px;
      height: 2px;
      margin-right: 25px;
      vertical-align: 0.3rem;
      background: $white;
    }
  }
}

h3 {
  font-weight: $font-weight-normal;

  @include media-breakpoint-down(sm) {
    font-size: 1.25rem;
  }
}

.btn {
  text-transform: uppercase;
  box-shadow: none !important;

  .arrow {
    display: inline-block;
    width: 18px;
    height: 8px;
    vertical-align: 0.05rem;
    background: url(../images/ico-arrow.svg) 0 0 no-repeat;
  }

  &:hover .arrow {
    background-position: 0 100% !important;
  }
}

.btn-primary:hover {
  border-color: $white;
  background: $white;

  .arrow {
    background-position: 0 0 !important;
  }
}

.btn-light:hover {
  color: $white;
  border-color: $black;
  background: $black;
}

.form-group {
  margin: 0;
}

.form-control {
  text-transform: uppercase;
  border-bottom: 1px solid rgba($white, 0.4);
  box-shadow: none !important;

  @include media-breakpoint-down(sm) {
    font-size: 0.85rem;
  }
}

.custom-select {
  background: url(../images/custom-select.svg) 100% 50% no-repeat;
  cursor: pointer;
  appearance: none;
}

// stylelint-disable-line selector-no-qualifying-type
textarea.form-control {
  height: 120px;
  border-top: 1px solid rgba($white, 0.4);
}

.header-contacts {
  .nav-item {
    margin-right: 0;
    margin-left: 1.5rem;
  }

  .nav-link {
    width: 15px;
    height: 15px;
    padding: 0;
    overflow: hidden;
    text-indent: 100px;
    background: url(../images/header-contacts.svg) 0 0 no-repeat;

    &:hover {
      background-position: 0 100%;
    }
  }

  .link-email {
    background-position: -15px 0;

    &:hover {
      background-position: -15px 100%;
    }
  }

  .link-instagram {
    background-position: -30px 0;

    &:hover {
      background-position: -30px 100%;
    }
  }
}

.theme {
  position: relative;

  @include media-breakpoint-only(xs) {
    padding-top: 5.3rem;
  }

  .theme-img {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      height: 40%;

      @include gradient-y(
        $start-color: rgba($black, 0),
        $end-color: $black,
        $start-percent: 0%,
        $end-percent: 100%
      );
    }
  }
}

.jumbotron {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  background: none;

  @include media-breakpoint-only(xs) {
    position: static;
  }

  @include media-breakpoint-up(sm) {
    & > .container {
      height: 100%;

      & > .row {
        height: 100%;
      }
    }
  }

  h1 {
    font-weight: $font-weight-bolder;
    line-height: 1.6;
    letter-spacing: 0.02rem;

    @include media-breakpoint-down(lg) {
      font-size: 1.6rem;
    }

    @include media-breakpoint-down(md) {
      font-size: 1.25rem;
    }

    @include media-breakpoint-down(sm) {
      font-size: 1.1rem;
    }

    strong {
      font-weight: $font-weight-bold;
      font-size: 6rem;
      line-height: 0.95;
      color: $primary;

      @include media-breakpoint-down(lg) {
        font-size: 5rem;
      }

      @include media-breakpoint-down(md) {
        font-size: 4rem;
      }

      @include media-breakpoint-down(sm) {
        font-size: 3.5rem;
      }
    }
  }

  .lead {
    @include media-breakpoint-down(md) {
      font-size: 0.85rem;
    }
  }
}

.section {
  padding-top: 6rem;
  padding-bottom: 6rem;

  @include media-breakpoint-only(md) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 4.5rem;
    padding-bottom: 3rem;
  }
}

.ml-minus-5 {
  position: relative;
  z-index: 5;
  margin-left: -200px;

  @include media-breakpoint-only(md) {
    margin-left: -100px;
  }

  @include media-breakpoint-only(sm) {
    margin-left: -60px;
  }

  @include media-breakpoint-only(xs) {
    margin-left: 0;
  }
}

.blocks {
  @include media-breakpoint-up(md) {
    height: 100%;
  }

  background: $primary;
}

.block {
  padding: 3.5rem 3.5rem 0;
  background: darken($primary, 8%);

  @include media-breakpoint-only(md) {
    padding: 2rem;
  }

  @include media-breakpoint-down(sm) {
    padding: 2rem 1.5rem;
  }

  &.block-light {
    font-weight: $font-weight-bolder;
    font-size: 1.125rem;
    color: $black;
    background: $primary;

    @include media-breakpoint-down(sm) {
      font-size: 1rem;
    }
  }

  .price {
    font-size: $font-size-base * 1.625;
    line-height: 1;

    strong {
      font-weight: $font-weight-bold;
      font-size: 3.6rem;

      @include media-breakpoint-only(xs) {
        font-size: 3rem;
      }
    }
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      position: relative;
      padding: 0 0 0.75rem 2rem;

      &::before {
        content: '';
        position: absolute;
        top: 0.8rem;
        left: 0;
        display: block;
        width: 1rem;
        height: 3px;
        margin-right: 0.7rem;
        background: $black;

        @include media-breakpoint-down(sm) {
          top: 0.7rem;
          height: 2px;
        }
      }
    }
  }

  .btn {
    margin-bottom: -1.35rem;
  }
}

.acc-item {
  margin-bottom: -1px;
  border: darken($white, 80%) 1px solid;

  .acc-heading {
    position: relative;
    padding: 2rem 70px;
    font-weight: $font-weight-bold;
    cursor: pointer;

    @include transition;

    @include media-breakpoint-down(sm) {
      padding: 1rem 30px;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 2.75rem;
      left: -10px;
      display: block;
      width: 19px;
      height: 3px;
      background: $primary;

      @include transition;

      @include media-breakpoint-down(sm) {
        top: 1.7rem;
      }
    }

    &.collapsed {
      color: $primary;

      &::after {
        transform: rotate(90deg);
      }
    }

    &:hover {
      color: $white;
    }
  }

  .acc-body {
    padding: 0 70px 2rem;

    @include media-breakpoint-down(sm) {
      padding: 0 30px 1rem;
    }
  }
}

.contacts {
  margin-bottom: 5rem;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;

  @include media-breakpoint-down(lg) {
    font-size: 1rem;
  }

  @include media-breakpoint-only(xs) {
    font-size: 0.8rem;
    letter-spacing: 0;
  }

  a {
    display: inline-block;
    padding: 0.6rem 1rem 0.5rem;
    margin-bottom: -1px;
    white-space: nowrap;
    border: darken($white, 80%) 1px solid;

    @include transition;

    @include media-breakpoint-only(xs) {
      padding: 0.5rem 0.75rem 0.4rem;
    }

    &:hover {
      text-decoration: none;
      background: darken($white, 80%);
    }

    // stylelint-disable selector-no-qualifying-type
    span {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 1rem;
      vertical-align: -0.05rem;
      background: url(../images/header-contacts.svg) 0 100% no-repeat;

      &.ico-email {
        background-position: -15px 100%;
      }

      &.ico-instagram {
        background-position: -30px 100%;
      }
    }
    // stylelint-enable selector-no-qualifying-type
  }
}

.copyright {
  font-size: 0.75rem;
  color: darken($white, 60%);

  a {
    color: darken($white, 60%);
  }
}

iframe {
  filter: grayscale(100%);
}

form label {
  display: none;
}

// .short_explanation {
//   font-size: 0.6rem;
// }

// .spmhidip {
//   display: none;
//   width: 10px;
//   height: 3px;
// }

// #fg_crdiv {
//   -moz-opacity: 0.2;
//   opacity: 0.2;
//   font-size: 0.3em;
//   font-family: Arial, sans-serif;
//   filter: alpha(opacity=20);
// }

// #fg_crdiv p {
//   display: none;
// }

// .error {
//   font-size: 0.75rem;
// }
